.frame {
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  margin-top: 5vh;
}

span {
  font-size: large;
  padding: 15px 60px;
}

.drawer-container {
  height: 95%;
}

.drawer-sidenav-content {
  height: 100%;
  width: 100%;
}

.drawer-sidenav {
  padding: 20px;
}

h2 {
  padding: 10px;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.username {
  font-size: medium;
  margin-top: 1vh;
  font-weight: 500;
}
